@model EntityLayer.Concrete.Araba
@{
    ViewBag.Title = "editAraba";
    Layout = "~/Views/Shared/_SirketLayout.cshtml";
}

<form class="form-group" method="post">
    <div class="araba-ekle row">

        <div class="arabalar-bilgi">
            <div class="araba-ozellikler row">
                <div class="araba-ozellik col-xs-4">
                    <img src="~/Img/camera.png" title="Fotoğraf" />
                    <div class="araba-ekle-input">
                        @Html.TextBoxFor(x => x.arabaID, new { @class = "form-control" })
                    </div>
                </div>

                <div class="araba-ozellik col-xs-4">
                    <img src="~/Img/araba.png" title="Marka" />
                    <div class="araba-ekle-input">
                        @Html.TextBoxFor(x=>x.arabaMarka, new { @class = "form-control" })
                    </div>
                </div>

                <div class="araba-ozellik col-xs-4">
                    <img src="~/Img/araba.png" title="Model" />
                    <div class="araba-ekle-input">
                        @Html.TextBoxFor(x=>x.arabaModel, new { @class = "form-control" })
                    </div>
                </div>

                <div class="araba-ozellik col-xs-4">
                    <img src="~/Img/circular-line-with-word-age-in-the-center.png" title="Minimum Yaş Sınırı" />
                    <div class="araba-ekle-input">
                        @Html.TextBoxFor(x=>x.arabaYasSiniri, new { @class = "form-control" })
                    </div>
                </div>

                <div class="araba-ozellik col-xs-4">
                    <img src="~/Img/license.png" title="Gerekli Minimum Ehliyet Yaşı" />
                    <div class="araba-ekle-input">
                        @Html.TextBoxFor(x=>x.arabaEhliyetYasi, new { @class = "form-control" })
                    </div>
                </div>

                <div class="araba-ozellik col-xs-4">
                    <img src="~/Img/manual-transmission.png" title="Vites Tipi" />
                    <div class="araba-ekle-input">
                        @Html.TextBoxFor(x => x.arabaVitesTuru, new { @class = "form-control" })
                    </div>
                </div>

                <div class="araba-ozellik col-xs-4">
                    <img src="~/Img/airbag.png" title="Airbag" />
                    <div class="araba-ekle-input">
                        @Html.TextBoxFor(x => x.arabaAirbag, new { @class = "form-control" })
                    </div>
                </div>

                <div class="araba-ozellik col-xs-4">
                    <img src="~/Img/gas-pump.png" title="Yakıt Tipi" />
                    <div class="araba-ekle-input">
                        @Html.TextBoxFor(x => x.arabaYakitTuru, new { @class = "form-control" })
                    </div>
                </div>

                <div class="araba-ozellik col-xs-4">
                    <img src="~/Img/suitcase.png" title="Bagaj Hacmi" />
                    <div class="araba-ekle-input">
                        @Html.TextBoxFor(x => x.arabaYakitTuru, new { @class = "form-control" })
                    </div>
                </div>

                <div class="araba-ozellik col-xs-4">
                    <img src="~/Img/KM-1.png" />
                    <div class="araba-ekle-input">
                        @Html.TextBoxFor(x => x.arabaKM, new { @class = "form-control" })
                    </div>
                </div>

                <div class="araba-ozellik col-xs-4">
                    <img src="~/Img/KM-2.png" />
                    <div class="araba-ekle-input">
                        @Html.TextBoxFor(x => x.arabaSinirKM, new { @class = "form-control" })
                    </div>
                </div>

                <div class="araba-ozellik col-xs-4">
                    <img src="~/Img/TL.png" />
                    <div class="araba-ekle-input">
                        @Html.TextBoxFor(x => x.arabaUcret, new { @class = "form-control" })
                    </div>
                </div>

                <div class="araba-ozellik col-xs-4">
                    <img src="~/Img/TL.png" />
                    <div class="araba-ekle-input">
                        @Html.TextBoxFor(x => x.sirketID, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary btnArabaEkle">Güncelle</button>
</form>

